extends layout

block content
  .about
    .container
      .text
        h1=about1.h1
        h2=about1.h2
      .image
        img(src="/images/" + about1.image)
  .about
    .container
      .image
        img(src="/images/" + about2.image)
      .text
        h1=about2.h1
        h2=about2.h2
  .about
    .container
      .text
        h1=about3.h1
        h2=about3.h2
      .image
        img(src="/images/" + about3.image)
